:root {
    --basic-grey: #E5E5E5;
    --basic-pink: #FFDCDC;
    --basic-white: #ffffff;
    --basic-cherry: #D89999;
    --basic-wine: #AE7C78;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.page {
    height: 100%;
}

body {
    width: 100%;
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
    color: var(--basic-wine);
    background-color: var(--basic-white);
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.header-continer {
    width: 100%;
    padding: 0;
    border: 1px solid var(--basic-wine);
    border-right: none;
    border-left: none;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.nav-menu {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}


.nav-list-first{
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-column: 1/1;
}

 .nav-list-last{
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-column: 3/3;
}


.nav-list-first li, .nav-list-last li {
    margin: 0;
    margin-right: 10px;
    padding: 0;
    margin-right: 20px;
}

.nav-list-first a, .nav-list-last a {
    color: var(--basic-wine);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.logo-link{
    grid-column: 2/2;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 40px;
    margin-left: 40px;
}

.about-section {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 80px 1fr;
    margin-top: 50px;
    column-gap:20px;
}

.description-block {
    grid-column-start: 1;
    grid-row: 1/-1;
}

.img-1 {
    grid-column: 2/2;
    grid-row: 2/-1;
    margin-top: auto;
    margin-right: 10px;
}

.img-2 {
    grid-column: 3/3;
    grid-row: 1/-1;
}

h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 60px;
}

h1 span {
    font-style: italic;
}

h1+p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

.catalog-link {
    background: #D89999;
    border-radius: 40px;
    font-size: 16px;
    line-height: 20px;
    color: white;
    padding: 30px 70px;
}

.description-text {
    margin-bottom: 65px;
    margin-right: 25px;
}

.advantage-block {
    margin: 0 auto;
}

.advantage-list {
    margin-top: 50px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.advantage-list li {
    margin: 0;
    padding: 0;
    max-width: 25%;
    position: relative;
}

.advantage-list li:first-child::before {
    content: "";
    position: absolute;
    width: 82px;
    height: 52px;
    top: 10%;
    right: 105%;
    background: url("../img/group9.svg") no-repeat 0 0;
}

.advantage-list li:nth-child(2)::before {
    content: "";
    position: absolute;
    width: 82px;
    height: 52px;
    top: 10%;
    right: 95%;
    background: url("../img/bouquet 1.svg") no-repeat 0 0;
}

.advantage-list li:last-child::before {
    content: "";
    position: absolute;
    width: 82px;
    height: 52px;
    top: 10%;
    right: 95%;
    background: url("../img/group.svg") no-repeat 0 0;
}

.advantage-list p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.advantage-list span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.slider-block {
    margin-top: 40px;
    margin-bottom: 80px;
    position: relative;
}

.slider-heading {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.slider-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.slider-description {
    width: 30%;
    margin-top: 20px;
}

.slider-item-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.slider-img {
    margin: 0;
    margin-top: 20px;
    position: relative;
}

.slider-btn {
    position: absolute;
    margin-top: 20px;
    top: 100%;
    left: 40%;
}

.prev-slide-button, .next-slide-button {
    width: 50px;
    height: 20px;
    background: url("../img/arrow2.svg") no-repeat 0 0;
    border: none;
    cursor: pointer;
}

.next-slide-button {
    left: 24px;
    transform: scale(-1, 1);
    margin-left: 15px;
}

.slider-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.price {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 80px;
}

.order-link {
    background: #D89999;
    border-radius: 40px;
    font-size: 16px;
    line-height: 20px;
    color: white;
    padding: 20px 90px;
}

.product-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.product-list li {
    background-color: var(--basic-wine);
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    min-height: 445px;
    width: 388px;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product-link h3 {
    margin-bottom: 0;
}

.product-link p {
    margin-top: 5px;
}

.product-list li:nth-child(1) {
    background: url("../img/wedding.jpg") no-repeat 0 0;
}

.product-list li:nth-child(2) {
    background: url("../img/peony.jpg") no-repeat 0 0;
}

.product-list li:nth-child(3) {
    background: url("../img/alyssa.jpg") no-repeat 0 0;
}

.product-link {
    color: white;
}

.product-list h3 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
}

.product-list p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.promo-block {
    padding: 0;
    margin-top: 50px;
    background-color: #AE7C78;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.promo-text {
    color: white;
    grid-column: 1/1;
    margin: auto 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.promo-block img {
    grid-column: 2/-1;
    margin-right: 0;
}

.promo-block h3 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
    letter-spacing: 0.02em;
    margin-bottom: 5px;
}

.promo-block p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

.news-block h3 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
}

.news-block p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

.social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.social-list li {
    margin-right: 20px;
}

.order-steps-block{
    margin-bottom: 40px;
}

.order-steps-block h2 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-align: center;
}

.order-steps-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.order-steps-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-steps-list h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
}

.order-steps-list p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-top: 0;
}

.news-block {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
}

.news-text {
    grid-column: 1/1;
    grid-row: 1/-1;
    vertical-align: middle;
}

.news-block-img1 {
    grid-column: 2/2;
    grid-row: 1/1;
    margin-bottom: 10px;
}

.news-block-img2 {
    grid-column: 2/2;
    grid-row: 2/-1;
}

.news-block-img3 {
    grid-column: 3/3;
    grid-row: 1/-1;
}

.reviews-block blockquote {
    display: flex;
    justify-content: space-between;
}

.reviews-block h2 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-align: center;
}

.reviews-text{
    display: flex;
    flex-direction: column;
}

.reviews-block blockquote p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.reviews-block blockquote cite {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.contacts-container {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 40px;
}



.contacts-block{
    position: absolute;
    background-color: #ffffff;
    width: 30%;
    height: 80%;
    border-radius: 20px;
    padding: 30px;
    top:10%;
    left: 10%;
}

.img-jpg {
    width: 100%;
}

.contacts-block h3 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    margin: 0;
}

.contacts-block p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.contacts-block a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}

footer {
    background-color: #AE7C78;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: 0 auto;
}

.footer-container .nav-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-container .nav-list a {
    color: #ffffff;
    margin-right: 30px;
}

.footer-logo{
    display: block;
}

.footer-container .social-list{
    margin: 0;
}


